bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.TrustedVotingSystem/.idea/.name

.idea/.idea.TrustVotingCLI/.idea/workspace.xml

.idea/.idea.TrustVotingCLI/.idea/shelf/Changes/shelved.patch

.vs/ProjectEvaluation/trustedvotingsystem.metadata.v9.bin

.vs/ProjectEvaluation/trustedvotingsystem.projects.v9.bin
